*,
*::before,
*::after {
  box-sizing: border-box;
}

.listUnstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--b);
    margin: 0;
}

main {
    margin-left: var(--space);
    margin-right: var(--space);
    color: var(--w);
    margin-top: 20vh;
}

.introduction {
    text-align: center;
    font: var(--body) var(--font--mulish);
    letter-spacing: -1px;
    margin-bottom: 8.7vh;
}

.line {
    margin: auto;
    width: 66vw;
    height: 1px;
    background-color: var(--w);
    margin-top: 6.9vh;
}

.page404 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 17.5vh;
    left: 0;
    right: 0;
}