.menu {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    display: flex;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: #ffd4c5;
    transition: all .4s ease-in-out;
    }